[plugin-configuration]
OBJ_STORAGE_URL_LOCAL=
OBJ_STORAGE_ACCESS_ID_LOCAL=
OBJ_STORAGE_ACCESS_SECRET_LOCAL=
OBJ_STORAGE_BUCKET_LOCAL=
OBJ_STORAGE_ARTEFACT_TEMPLATE_LOCAL=csv_personal_data/{name}_{timestamp}.parquet
OBJ_STORAGE_REGION=us-east-1
OBJ_STORAGE_BUCKET=
OBJ_STORAGE_TABLE=tabular_data
TRINO_HOST=trino.mescobrad.digital-enabler.eng.it
TRINO_PORT=443
TRINO_USER=
TRINO_PASSWORD=
